@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


.utils__rotation_header{
  animation: rotation 20s linear infinite;
}

.utils__rotation_kaufman{
  animation: rotation 20s linear infinite;
}
