.feynman__subtitle {
    position: relative;
    padding-top: 70px;
    margin: auto;
    width: 648px;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: 500;
    z-index: 1;
}