.page {
  min-width: 1100px;
  max-width: 1600px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */

  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.body{
  padding: 0;
  margin: 0;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin-top: 0;
  padding: 0;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.title{
  min-width: 600px;
  max-width: 756px;
  display: flex;
  align-items: center;
}

.title__header_text{
  margin-left: 64px;
}

.h1_header{
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.h3_text{
  font-size:19px;
  font-weight: normal;
  line-height: 25px;
}

.logo{
  position: absolute;
  z-index: 100;

}

.logo_place_holder{
  top: 30px;
  left: 64px;

  height: 32px;
  width: 228px;
  margin: 0;
  padding: 0;
  position: absolute;
    right: 0;
    bottom: 0;

}


.subtitle{
  position: absolute;
  z-index: 98;
  width: 388px;
  bottom: 30px;
  left:64px;
}

.image_again2{
  position: absolute;
  bottom: 0;
  right: 0;


}

.again2{
  width:  765px;
  height: 608px;
  z-index: 93;
}

.header__blue_rectangle{
  position:absolute;
  top: 65px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.link{
  z-index: 100;
}


/* ---- */
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.brief{
  width: 175px;
}

.brief_main__text{
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;
}

.main-text{
  width: 80%;

}

.paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.brief_paragraph__middle{
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-accent{
  font-weight: 600;
}


/* table raw */
.table{
  display: flex;
  flex-direction: column;
}

.table-element_copyright {
  bottom: 0;
}

.table-element_heading {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 1.15;
  margin-bottom: 20px;
}


.table-element_text {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 1.2;
}

.table-element {
  display: block;
}

.table-cell {
  display: flex;
  justify-content: center; /* Центрирует содержимое горизонтально */
  flex: 1;
}


/* digits */
.digits {
  margin-top: 100px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}

.digits_table{
  gap: 60px;
  margin-top:60px;
  width: 1100px;
}

.digits__section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits_table-element_heading__copyright{
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 1.15;
}


.digits_table-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}


/*-------*/

.feynman{
  height: 890px;
  position: relative;
}



.feynman__title{
  position: relative;
  padding-top: 100px;
  margin: auto;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  position: relative;
  padding-top: 70px;
  margin: auto;
  width: 648px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 500;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: 500;
}
.feynman__image{
  position: absolute;
  bottom: 0;
  left: 0;
}

/*------*/



/* kaufman */
.kaufman {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
}
.table-element_heading__theme_dark{
  margin-left: 0;
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.kaufman_table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 5;
}

.kaufman__section-title{
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  width: 60%;
  color: #ffffff;
}

.kaufman__section-subtitle{
  margin: 0 auto;


  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  color: #ffffff;
}


.kaufman_table-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.table-element_text__theme_dark{
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}

.table-cell_theme__dark{
  width: 200px;
  justify-content: left;
  flex: none;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 15;
}

/*.kaufman__triangle{*/
/*  width: 877px;*/
/*  height: 877px;*/
/*  position: absolute;*/
/*  top:0;*/
/*  right: -210px;*/
/*  background-image: url(../images/kaufman-triangle.svg);*/
/*  background-size: cover;*/
/*}*/

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}


/*footer*/

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
  /*padding: 60px 0 40px;*/
  margin: 0;
  padding: 0;
  align-content: center;

}

.footer__columns{
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.footer__column_content_copyright{
  flex-basis: 711px;
  height: 100%;
}

.footer__author{
  position: absolute;
  bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
}

.footer__column-heading{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
}

.column__link{
  color: white;
  text-decoration: none;
}

.footer__column_content_social .column__link{
  color: #c9c9c9;
}
